body {
    margin: 0px;
    background-color: #1c1c1c;
}

/* For Webkit-based browsers (Chrome, Safari, newer versions of Edge) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: white;
}

::-webkit-scrollbar-thumb:hover {
    background-color: gray; /* Change the background color to white on hover */
}

/* For Firefox */
/* You can use scrollbar-color property for Firefox */
* {
    scrollbar-color: white;
    scrollbar-width: thin;
}

body > *{
    opacity: 0;
    transition: opacity 2s ease-in-out;
}


.circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.275);  
    filter: blur(40px);
    pointer-events: none;
    position: fixed;
    z-index: -1;
}


.cursor {
    width: 60px;
    height: 60px;
    /* background-image: url("./cursor.svg");  */

    background-image: url("./cursor.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 999;
    pointer-events: none;
    margin-top: 10px;
    /* background-color: var(--primary-color); */
    
    /* Change the mix-blend-mode to "screen" to blend the image with the background color */
    /* mix-blend-mode: screen; */
}

.vinger{
    background-image: url("./vinger.png");
    width: 80px;
    height: 80px;
}.carHeader{
    background-color: #1C1C1C;
    position: relative;
    height: 500px;
    padding: 16px;
    box-sizing: border-box;
    color: white;
    font-family: 'Open Sans', sans-serif;
    background-image: url("./headerBackground.webp");
    background-size: cover;
    margin-bottom: 200px;
}

.carHeader:after {
    content: "";
    background-color: #1C1C1C;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.carHeader .car {
    position: absolute;
    width: 150vh;
    bottom: -15vh;
    z-index: 2;
    right: 25vw;
}
.carHeader .logo{
    max-width: 100px;
}


.carHeader .light {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 50px 35vw 40px 0px;
    border-color: transparent white transparent transparent;
    transform: rotate(0deg);
    position: absolute;
    right: 0vw;
    bottom: 25px;
    z-index: 1;
    filter: blur(11px);
    opacity: 0; /* Initial opacity value */
    animation: fadeLoop 4s linear infinite; /* Apply the animation */
    overflow: hidden;
    transition: border-color 0.5s ease; /* Add a transition effect */
}

.carHeader .light:hover {
    border-color: transparent #F8CD09 transparent transparent;
}



@keyframes fadeLoop {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}

.carHeader h1 {
    font-size: 20px;
    max-width: 300px;
    font-weight: 100;
}

.carHeader strong {
    color: #F8CD09;
}

.carHeader .content{
    position: relative;
    z-index: 5;
    padding: 30px;
    width: fit-content;
}

.carHeader a{
    color: white;
    text-decoration: none;
    border-bottom: 1px solid;
    margin-right: 8px;
    cursor: none;
}

.carHeader a:hover{
    color: #F8CD09;
}

.carHeader .active{
    color: #F8CD09;
}

.carHeader sub {
    font-size: 30px;
    font-weight: 900;
}

@media (max-width: 600px) {
    .carHeader .content{
        padding:0px;
    }

    .carHeader .car {
        width: 55vh;
        bottom: -7vh;
        right: 30vw;
    }

    .carHeader .light{
        border-width: 30px 45vw 5px 0px;
        bottom: 8px;
        filter: blur(5px);
    }
    .carHeader{
        display: flex;
        align-items: center;
        margin-bottom: 100px;
        height: 450px;
    }

    .carHeader h1{
        font-size: 18px;
    }
}
.websiteSlider {
    color: white;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    margin: 200px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.websiteSlider .blocks {
    display: flex;
    width: 300%;
    transition: margin 1s ease-in-out; /* Add transition for smooth movement */
    margin-left: 0%;
}


.websiteSlider .websiteNavigation {
    display: flex;
    justify-content: center;
}

.websiteSlider .circle-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.websiteSlider .circle-button.active {
    background-color: #F8CD09; /* You can change the active button's color */
}

.websiteSlider .block {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    box-sizing: border-box;
    gap: 32px;
    max-width: 900px;
    margin: 0 auto;
    padding: 0px 40px;
}

.websiteSlider .block > * {
    width: 100%;
}

.websiteSlider h2{
    margin: 0;
}

.websiteSlider p{
    margin: 0px;
}

.websiteSlider .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 400px;
}

.websiteSlider .block img{
    border-radius: 8px;
    width: 100%;
}

.websiteSlider .block .image{
    background-color: #232323;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    max-width: 400px;
}



@media (max-width: 900px) {
    .websiteSlider .block{
        margin-top: auto;
        display: flex;
    flex-direction: column;
    gap: 16px;
        justify-items: center;
        padding: 0px 16px;
    }

    .websiteSlider .content{
        font-size: 14px;
    }
}.prices {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    text-align-last: center;
    padding: 160px 40px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.prices > p {
    max-width: 400px;
}

.prices a {
    color: white;
    text-decoration: none;
    border-bottom:1px solid ;
}

.prices a:hover{
    color: #F8CD09;
}

.prices h2{
    margin: 0px;
}

.prices .blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.prices .block {
    background-color: white;
    border-radius: 8px;
    color: #1B1B1B;
    padding: 24px;
    text-align-last: left;
    max-width: 220px; /* Fixed width for all blocks */
    max-height: 220px; /* Fixed height for all blocks */
    margin-right: 16px; /* Space between blocks */
    margin-bottom: 16px; /* Space below blocks */
    box-sizing: border-box;
}

.prices .block2 {
    background-color: #F8CD09;
}

.prices h3 {
    font-weight: 900;
    font-size: 24px;
}

.prices .block .price {
    font-weight: 900;
    margin-bottom: 8px;
    font-size: 14px;
}

.prices .block .blockContent{
    font-size: 14px;
}

.prices .block * {
    margin: 0;
    padding: 0;
}

@media (max-width: 600px) {
    .prices > p {
        max-width: 220px;
    }
    
    .prices{
        padding: 32px 16px;
        align-items: baseline; 
        text-align-last: left;
    }

    .prices .blocks{
        justify-content: left;
    }

}

@media (max-width: 400px) {



    .prices .block{
        margin-right: 0px;
        aspect-ratio: 1/1;
        max-height: unset;
        padding: 16px;
    }
    
}.contactForm {
    position: relative;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
}

.contactForm *{
    font-family: 'Open Sans', sans-serif;
}

.contactForm h2 {
    margin: 0px;
    margin-bottom: 16px;
}

.contactForm img{
    position: absolute;
    width: 300px;
    height: auto;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.contactForm label{
    font-weight: 900;
    margin-top: 8px;
}

.contactForm form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: auto;
    z-index: 5;
    position: relative;
}

.contactForm > * {
    width: fit-content;
}

.contactForm input, 
.contactForm textarea{
    background-color: unset;
    border: 1px solid white;
    border-radius: 8px;
    padding: 8px;
    color: #F8CD09;
    font-weight: bold;
    max-width: 300px;
}

.contactForm input::placeholder,
.contactForm textarea::placeholder {
    color: white;
    font-weight: 100;
}


.contactForm input[type="submit"] {
    background-color: #F8CD09;
    border: 0px;
    color: hsl(0, 0%, 11%);
    font-size: 18px;
    padding: 8px 16px;
    width: fit-content;
    border-radius: 4px;
    border: 1px solid;
    margin-top: 8px;
}

.contactForm input[type="submit"]:hover {
    color: #F8CD09;
    background-color: unset;
    cursor: pointer;
}

.contactForm #submittedMessage{
    color: #F8CD09;
    display: none;
}

@media (max-width: 600px) {
    .contactForm {
        padding:  100px 16px;
    }

    .contactForm img{
        width: 200px;
    }
}