.footer {
    background-color: black;
    height: 50px;
    gap: 8px;
    align-items: center;
    padding: 20px;
}

.footer a{
    color: white;
}

ul.menu-list {
    display: flex;
    gap: 8px;
    list-style-type: none;
}