body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}

input{
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
}

input::placeholder{
    color: black;
}

label{
    font-weight: bold;
}

img{
    width: 150px;
}

#login-form h1{
    padding: 0px;
    margin: 0px;
    font-size: 32px;
}

#login-form p{
    padding: 0px;
    margin: 0px;
    margin-bottom: 16px;
}

#login-form button{
    margin-top: 16px;
}

button{
    width: fit-content;
    background-color: unset;
    border: 0;
    padding: 0;
    text-decoration: underline;
}

button:hover{
    cursor: pointer;
    color: #21759B;
    font-weight: bold;
}

.button1 {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
    text-decoration: none;
  }



#blockContainer {
    margin: 20px;
    height: inherit;
    width: 100%;
}

#blockContainer > div {
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

#blockContainer > div input, textarea {
    width: 50%;
}

.block-wrapper {
    display: flex;
    flex-direction: row;
}
.blockContent {
    flex: 1; /* Take up available vertical space within block-wrapper */
    align-self: stretch;
    padding: 10px;
}

#menuContainer {
    padding: 10px;
    margin: 10px;
    gap: 10px;
    display: flex;
}

.footerMenu {
    border-bottom: 1px solid;
    border-top: 0px solid;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    height: 50px;
    width: 100%;
}

#popup {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    gap: 10px;
    width: 100vw;
    height: 100vh;
}

.arrow-button {
    font-size: 24px; /* Adjust the size as needed */
    margin: 0 5px; /* Add spacing between buttons */
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
}

.arrow-buttons {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-self: stretch;
    padding: 5px 0px;
}

.propertyDiv {
    gap: 10px;
    justify-content: space-between;
}

div#login-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 40px;
}

@media (max-width: 767px) {
    #form {
      flex-direction: column;
    }

    body{
        flex-direction: column;
    }

    
.footerMenu {
    border-bottom: 0px solid;
    border-top: 1px solid;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    height: 50px;
    width: 100%;
}
}