body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}

*{
    margin: 0px;
    padding: 0px;
}

p{
    max-width: 400px;
}

label{
    font-weight: bold;
}

#addBlock{
    display: flex;
    gap: 8px;
}

#addBlock button{
    background-color: #21759B;
    color: white;
    padding: 8px;
    border: 1px solid #21759B;
}

#addBlock button:hover{
    background-color: white;
    color: #21759B;
    text-decoration: none;
    font-weight: 300;
}


#addBlock select {
    padding: 4px;
    font-size: 16px;
}

input[type="text"]{
    border-radius: 4px;
    padding: 4px;
    width: fit-content;
    border: 1px solid black;
}

.removeBlockButton{
    color: #B92D2D;
    font-weight: bold;
    text-decoration: underline;
}

.removeBlockButton:hover{
    color: #B92D2D;
}

.removeDiv {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.propertyDiv {
    gap: 8px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.image-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

button{
    width: fit-content;
    background-color: unset;
    border: 0;
    padding: 0;
    font-size: 16px;
}

button:hover{
    cursor: pointer;
    color: #21759B;
    font-weight: bold;
    text-decoration: underline;
}

.button{
    background-color: #21759b;
    border: 0px;
    color: white;
    width: fit-content;
    padding: 10px 36px;
}

.arrow-button {
    font-size: 24px; /* Adjust the size as needed */
    margin: 0 5px; /* Add spacing between buttons */
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
}

.arrow-buttons {
    display: flex;
    width: fit-content;
    align-self: stretch;
    padding: 5px 0px;
}

#logoutButton{
    color: #B92D2D;
    font-weight: bold;
}

a{
    color: #21759b;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

button.currentPage {
    color: #21759b;
    font-weight: bold;
}

.tutorialSubtitle{
    margin-bottom: 32px;
}

.block{
    display: flex;
    justify-content: space-between;
}

.block label:hover{
    cursor: pointer;
    color: #21759B;
    text-decoration: underline;
}

#loginForm{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 40px;
}

#loginForm .form-container {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

#loginForm p{
    margin-bottom: 8px;
}

#loginForm input {
    padding: 8px;
    margin-bottom: 8px;
}

#loginForm label {
    font-weight: bold;
}

.menu {
    border-bottom: 1px solid;
    border-top: 0px solid;
    padding: 20px;
    box-sizing: border-box;
    gap: 8px;
    height: 10vh;
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
}

.menu a{
    text-decoration: underline;
}

#container {
    padding: 20px;
    height: 90vh;
    overflow-y: scroll;
    width: 100%;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    padding-bottom: 10vh;
}

@media (max-width: 767px) {
    #loginForm {
      flex-direction: column;
    }

    .menu {
        border-bottom: 0px solid;
        border-top: 1px solid;
        top: unset;
        bottom: 0;
    }
    
    #container{
        top: 0;
        bottom: unset;
    }
}