.websiteSlider {
    color: white;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    margin: 200px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.websiteSlider .blocks {
    display: flex;
    width: 300%;
    transition: margin 1s ease-in-out; /* Add transition for smooth movement */
    margin-left: 0%;
}


.websiteSlider .websiteNavigation {
    display: flex;
    justify-content: center;
}

.websiteSlider .circle-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.websiteSlider .circle-button.active {
    background-color: #F8CD09; /* You can change the active button's color */
}

.websiteSlider .block {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    box-sizing: border-box;
    gap: 32px;
    max-width: 900px;
    margin: 0 auto;
    padding: 0px 40px;
}

.websiteSlider .block > * {
    width: 100%;
}

.websiteSlider h2{
    margin: 0;
}

.websiteSlider p{
    margin: 0px;
}

.websiteSlider .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 400px;
}

.websiteSlider .block img{
    border-radius: 8px;
    width: 100%;
}

.websiteSlider .block .image{
    background-color: #232323;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    max-width: 400px;
}



@media (max-width: 900px) {
    .websiteSlider .block{
        margin-top: auto;
        display: flex;
    flex-direction: column;
    gap: 8px;
        justify-items: center;
        padding: 0px 16px;
    }
}