.menu {
    background-color: black;
    height: 50px;
    gap: 8px;
    padding: 20px;
}

.menu a{
    color: white;
}

ul.menu-list {
    display: flex;
    gap: 8px;
    list-style-type: none;
    padding: 0px;
}